<form id="addTodo">
  <input id="todo_title" type='text' name="todo[title]" placeholder="Your Todo"> <br>
  <input id="todo_details" type="text_area" name="todo[description]" placeholder="Todo Description"> 
  <button id="add_all">Add</button>
</form>
