<form id="addTodo">
  <label> What's to do?</label>
  <input id="todo_title" type='text' name="todo[title]"><br>
  <label> Description</label>
  <input id="todo_description" type="text" name="todo[description]"><br>
  <input type="submit" value="submit">
</form>
