<label>
<input type="checkbox" 
       {{#if completed}} checked {{/if}} 
       name="completed"> 
{{title}}
</label>
<button class="removeTodo">delete</button>
<a href="/todos/{{id}}">See Description</a>
