<label>
<input type="checkbox"
       {{#if completed}} checked {{/if}}
       name="completed">
{{title}}
</label>
<button class="viewDesc">description</button>
<button class="removeTodo">delete</button>
