<label>
<input type="checkbox" 
       {{#if completed}} checked {{/if}} 
       name="completed"> 
{{title}}
</label>
<button class="descriptor">description</button>
<button class="removeTodo">delete</button>


<p id="description_{{id}}" hidden>{{description}}</p>
