<label>
<input type="checkbox" 
       {{#if completed}} checked {{/if}} 
       name="completed"> 
{{title}}
</label>
<button class="displayTodo" id="{{id}}">display</button>
<button class="removeTodo">delete</button>
