<label>
<input type="checkbox" 
       {{#if completed}} checked {{/if}} 
       name="completed"> 
{{title}}
</label>
<button class="infoTodo">Details</button>
<button class="removeTodo">Delete</button>
