<div class="container">
<div class="page-title"> Check it off </div>

    <form id="addTodo">
        <input id="todo_title" type='text' name="todo[title]" autofocus placeholder="what do you have to?">
    </form>

    <div id="todos">
    </div>
</div>