<div class="todo done-{{completed}}" data-id="{{id}}" >
     <div><input type="checkbox" {{#if completed}} checked {{/if}} name="completed">{{title}}</div> <button id="removeTodo">delete</button>
</div>