        <div class="todo done-{{completed}}" data-id="{{id}}" >
             <input type="checkbox" {{#if completed}} checked {{/if}} name="completed"> 
             <div class="task-title">{{title}}</div>
             <button id="removeTodo">delete</button>
        </div>

        <div class="done">

        </div>